<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Usuário</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <header>
        <div class="navbar fixed-top navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center" href="#">Cadastra, sô!</a>

                <a class="nav-link disabled" href="#">Olá, {{ current_user.nome_do_usuario }}</a>

                <form class="navbar-form navbar-right" action="{{ url_for('desloga_usuario') }}">
                    <button type="submit" class="btn btn-success">Sair</button>
                </form>

            </div>
        </div>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}

                    {% if category == 'success' %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}

                    {% if category == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endif %}

                    {% endfor %}
                {% endif %}
        {% endwith %}

        <form action="{{ url_for('edita_info_do_usuario', usuario_id=request.args.get('usuario_id'), endereco_id=endereco.endereco_id) }}" method="post" enctype="multipart/form-data">
                <h1>Atualize seus dados</h1>
                    <label for="nome" class="col-md-4 control-label">Nome</label>
                    <input type="text" id="nome" name="nome" maxlength="26" size="26" class="form-control" value="{{ current_user.nome_do_usuario }}" required>

                    <label for="email" class="col-md-4 control-label">Email</label>
                    <input type="email" id="email" name="email" maxlength="64" size="64"  class="form-control" value="{{ current_user.email_do_usuario }}" required>

                    <label for="senha" class="col-md-4 control-label">Senha</label>
                    <input type="password" placeholder="Digite sua senha ou atualize" id="senha" name="senha" maxlength="25" size="25" class="form-control" required>

                    <label for="cpf" class="col-md-4 control-label">CPF</label>
                    <input data-js="cpf" type="text" id="cpf" name="cpf" class="form-control" value="{{ current_user.cpf_do_usuario }}" min=1 required>

                    <label for="pis" class="col-md-4 control-label">PIS</label>
                    <input data-js="pis" type="text" id="pis" name="pis" maxlength="14" size="14" class="form-control" value="{{ current_user.pis_do_usuario }}" min=1 required>

                    <label for="pais" class="col-md-4 control-label">País</label>
                    <select name="pais" id="pais" class="form-control">
                        <option disabled selected>- Selecione -</option>
                        <option selected="selected" value="BR">Brasil</option>
                    </select>

                    <label for="estado" class="col-md-4 control-label">Estado</label>
                    <select name="estado" id="estado" class="form-control">
                        <option selected="selected">{{ endereco.estado_do_usuario }}</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                    </select>

                    <label for="municipio" class="col-md-4 control-label">Município</label>
                    <input type="text" id="municipio" name="municipio" maxlength="64" size="64" class="form-control" value="{{ endereco.municipio_do_usuario }}" required>

                    <label for="cep" class="col-md-4 control-label">CEP</label>
                    <input data-js="cep" type="text" id="cep" name="cep" maxlength="9" size="9" class="form-control" value="{{ endereco.cep_do_usuario }}" required>

                    <label for="rua" class="col-md-4 control-label">Rua</label>
                    <input type="text" id="rua" name="rua" maxlength="64" size="64" class="form-control" value="{{ endereco.rua_do_usuario }}" required>

                    <label for="numero" class="col-md-4 control-label">Número</label>
                    <input type="number" id="numero" name="numero" class="form-control" value="{{ endereco.numero_da_rua }}" min="1" required>

                    <label for="complemento" class="col-md-4 control-label">Complemento</label>
                    <input type="text" id="complemento" name="complemento" maxlength="64" size="64" class="form-control" value="{{ endereco.complemento }}" required>

        </form>
    </div>

    <div class="botao">
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        <a class="btn btn-danger" href="{{ url_for('mostra_menu_usuario', usuario_id=request.args.get('usuario_id')) }}">Voltar</a>
    </div>

    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>

</body>
</html>